<div class="b:block b-test:another-block mb:red mb-test:yellow">
  <div class="e:element e-test:item me:1">Element 1</div>
  <div class="e:element me:2">Element 2</div>
  <div class="e:element me:3">Element 2</div>
</div>