<div class="b:block b-2:another-block mb:red mb-2:yellow">
  <div class="e:element e-2:item me:1">Element 1</div>
  <div class="e:element me:2">Element 2</div>
  <div class="e:element me:3">Element 2</div>
</div>