<div class="b:block b-test:another-block m:red">
  <div class="e:element e-test:item m:1">Element 1</div>
  <div class="e:element m:2">Element 2</div>
  <div class="e:element m:3">Element 2</div>
</div>