<ul class="b_shopping-list m_red m_big <%= className ? className : '' %>">
  <% shoppingList.forEach((item, index) => { %>
  <li class="b_interactive-border e_list-item m_<%= index %>">
    <span class="e_text">
      <%= item.name %>, <%= item.price %>$
    </span>
  </li>
  <% }) %>
</ul>