<ul class="b:shopping-list m:red m:big <%= className ? className : '' %>">
  <% shoppingList.forEach((item, index) => { %>
  <li class="b-2:interactive-border e:list-item m:<%= index %>">
    <span class="e:text">
      <%= item.name %>, <%= item.price %>$
    </span>
    <div class="e-2:content"></div>
  </li>
  <% }) %>
</ul>