<ul class="b:shopping-list mb:red mb:big <%= className ? className : '' %>">
  <% shoppingList.forEach((item, index) => { %>
  <li class="b-2:interactive-border e:list-item me:<%= index %>">
    <span class="e:text">
      <%= item.name %>, <%= item.price %>$
    </span>
    <div class="e-2:content me-2:1"></div>
  </li>
  <% }) %>
</ul>