<ul class="b:shopping-list m:red m:big <%= className ? className : '' %>">
  <% shoppingList.forEach((item, index) => { %>
  <li class="e:item m:<%= index %>">
    <span class="e:text">
      <%= item.name %>, <%= item.price %>$
    </span>
  </li>
  <% }) %>
</ul>